* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}
/*-------------------- comon ----------------- */
.content {
    width: 1110px;
    max-width: calc(100% - 18px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    padding: 18px 20px;
}
.row {
    display: flex;
    justify-content: space-between;
}
/* -0-----------------header------------ */

.navbar-fix {
    background-color: #e6f0ff;
    padding-top: 18px;
    position: sticky;
    top: -18px;
    z-index: 1;
}
.wrap {
    position: relative;
    background-color: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    /* padding-top: 38px; */
    padding: 20px 0;
}

.navbar ul {
    display: flex;
    margin-left: 48.4px;
}
.navbar .action {
    margin-left: auto;
}
.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 21px;
    color: #4f5361;
    padding: 15px 15px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.action-links {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-color);
}
.action-btn {
    padding: 13px 20px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero-text {
    max-width: 55.2%;
    padding-top: 130px;
}
.hero-text .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.7rem;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero-text .title {
    margin-top: 8px;

    font-size: 6.2rem;
    font-weight: 700;
    line-height: 7.6rem;
    color: #000336;
}
.hero-text .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3.2rem;
    color: #5a6473;
}
.hero-btn {
    margin-top: 40px;
    min-width: 170px;
}
.hero img {
    height: calc(100vh - 117px);
    position: absolute;
    right: calc((100vw - 1012px) / 2 - 100px);
    bottom: 0;
}
/* ====================client===================== */
.client {
    margin-top: calc(122px - 43px);

    padding: 43px 0 41px;
}
.text-cl {
    margin-top: 23px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color: #7d8589;
}

.client .brand {
    margin-top: 70px;
}
.brand a {
    display: flex;

    align-items: center;
    height: 90px;
    padding: 0 42px;

    border-radius: 12px;
}
.brand a:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
/*==================== market============ */
.market {
    margin-top: 40px;
    padding: 93px 0 79px;
    display: flex;
}
.title-market {
    position: relative;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 3.5rem;
    color: #000339;
    text-align: center;
}
.title-market::before {
    content: " ";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}
.des-market {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    max-width: 459px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: #5a6473;
}
.guides {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.guides-content {
    margin: 0 70px;
    text-align: center;
}
.guides-title {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
    margin-top: 26px;
    text-align: center;

    color: #3b3c45;
}
.guides .link {
    display: inline-block;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-top: 10px;
    text-align: center;

    color: #0689ff;
}
.guides-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.guides-btn .btn {
    min-width: 170px;
}
/* =================== featured=======================  */
.featued-all {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}
.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 35px;

    color: #000339;
}
.featured .desc {
    margin-top: 15px;
}
.featured .desc p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;

    color: #5a6473;
}
.featured .desc .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;

    color: #0689ff;
}
.featured .link .vector {
    position: relative;
    top: -2px;
}
.list-featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.list-featured .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.list-featured .body {
    margin-left: 20px;
    margin-top: 17px;
}
.list-featured .body .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;

    color: #000339;
}

.list-featured .body .desc {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    margin-top: 11px;
    color: #a3a6ab;
}

.list-featured .body .infor {
    margin-top: 20px;
    display: flex;
    margin-left: -10px;
    justify-content: space-evenly;
}
.list-featured .body .label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    top: 4px;
    color: #444444;
}
/* ============================stat===================== */
.stat {
    margin-top: 75px;
    padding: 50px 0;
}
.stat .content {
    width: 1017px;
}
.row-2 {
    display: flex;
}
.stat .img-stat,
.stat .title-stat {
    width: 50%;
}

.stat .img-stat .img-1 {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
}
.stat .img-stat {
    position: relative;
}
.stat .title-stat {
    padding: 79px 0 0 165px;
}
.stat .title-stat .subtitle {
    position: relative;
    font-weight: 600;
    width: 269px;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stat .title-stat .subtitle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.stat .title-stat .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
.stat .img-stat .trend {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffffff;
    padding: 45px 22px 40px;
    width: 239px;
    box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
    border-radius: 0px 0px 12px 12px;
}
.stat .trend strong {
    font-weight: 700;
    width: 159px;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}
.stat .trend img {
    margin-left: 10px;
}
.stat .trend .decoration {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    margin-top: 8px;
    width: 194px;
    color: #a7a7a7;
}
.stat .trend .gach-chan {
    margin-top: 25px;
    height: 1px;
    background: #e9e9e9;
}
.avt-block {
    display: flex;
    gap: 14px 16px;
    margin-top: 25px;
    flex-wrap: wrap;
}
.avt-block .atv-group {
    display: flex;
}
.avt-block .atv-group .avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: -4px;
}
.avt-1 {
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 15px;
    align-items: center;
    background-color: #0689ff;

    text-align: center;
    letter-spacing: -0.02em;
}
.quantity {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}
.quantity .quantity-fake {
    font-weight: 600;
    font-size: 6.4rem;

    color: #000000;
}
.quantity .quantity-content .desc {
    font-weight: 500;
    font-size: 1.8rem;
    margin-top: 22px;
    color: #7b8087;
}
/* ===============================news================================== */
.news {
    position: relative;
    height: 409px;
    margin-top: 101px;
}
.news-in {
    position: absolute;
    top: 39px;
    height: calc(409px - 30px);
    background: #063183;
    border-radius: 20px;
    display: flex;
}
.news .news-in .sub {
    padding: 149px 529px 255px 80px;
}
.news .sub .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;

    color: #ffffff;
}
.news .sub .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #ffffff;

    opacity: 0.75;
}
.news .sub .btn {
    background: #ffffff;
    border-radius: 12px;
    color: #000;
    min-width: 151px;
    height: 50px;
    margin-top: 20px;
}
.news .mobi {
    position: absolute;
    top: 10px;
    right: calc(165px + 231px);
}

/* ==================================fotter===============================  */
.footer {
    margin-top: 50px;
    padding: 50px 0 58px 165px;
}
.footer .row-footer {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .row-top .heading {
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    color: #1c1c1d;
}
.footer .row-top .list,
.footer .row-top .desc {
    margin-top: 42px;
}
.footer .row-top .item {
    margin-top: 18px;
}

.footer .row-top .item a {
    font-weight: 400;
    font-size: 1.6rem;
    white-space: nowrap;
    color: #7a7a7e;
}
.footer .row-top .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;

    color: #7a7a7e;
}
.footer .column .social {
    margin-top: 40px;

    display: flex;
}
.footer .column .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
}
.footer .column .social-link + .social-link {
    margin-left: 16px;
}
.footer .column .social-link:hover {
    background-color: #ccc;
}
.row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}
.row-bottom .cpright {
    font-weight: 400;
    font-size: 1.4rem;

    color: #c2c2c2;
}
